/**********COLOURS*************/
.orange {
    color: #f5774f;
}

.turquoise {
    color: #00a99d;
}

.purple {
    color: #5f7dbf;
}

.yellow {
    color: #ffbb2a;
}

.orangebg {
    background-color: #f5774f;
    fill: #f5774f;
}

.turquoisebg {
    background-color: #00a99d;
    fill: #00a99d;
}

.purplebg {
    background-color: #5f7dbf;
    fill: #5f7dbf;
}

.yellowbg {
    background-color: #ffd05a;
    fill: #ffd05a;
}

.redbg {
    background-color: #ff5662;
    fill: #ff5662;
}

.greybg {
    background-color: #ebebeb;
    fill: #ebebeb;
}

.blackbg {
    background-color: #363636;
    fill: #363636;
}

/**********TYPOGRAPHY**********/

@font-face {
    font-family: 'Museo500-Regular';
    src: url('../assets/font/Museo500-Regular-webfont.woff2') format('woff2'),
    url('../assets/font/Museo500-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo700-Regular';
    src: url('../assets/font/Museo700-Regular-webfont.woff2') format('woff2'),
    url('../assets/font/Museo700-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../assets/font/MuseoSans_500-webfont.woff2') format('woff2'),
    url('../assets/font/MuseoSans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*REMOVE THIS ONE*/

@font-face {
    font-family: 'Museo300-Regular';
    src: url('../assets/font/Museo300-Regular-webfont.woff2') format('woff2'),
    url('../assets/font/Museo300-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.center {
    text-align: center;
}


h1 {
    font-family: 'Museo700-Regular', sans-serif;
}

h1.big-title {
    font-size: 7em;
}

h2 {
    font-family: 'Museo500-Regular', sans-serif;
}

h4 {
    font-family: 'Museo700-Regular', sans-serif;
    text-transform: uppercase;
}

.button-text {
    font-family: 'Museo500-Regular', sans-serif;
    font-size: 2em;
}
/* Removed the margins for these, they were not doing anything as it's an inline element*/
.button-text-inner {
    font-family: 'Museo500-Regular', sans-serif;
    font-size: 1.4em;
}

p {
    font-family: 'MuseoSans', sans-serif;
    line-height: 1.4em;
    font-size: 1.1em;
}

a{
    text-decoration: none;
    transition: color .4s ease !important;
}

a.animate{
    /*  Allows transform to be applied to links  */
    display: inline-block;
}

a:hover{
    color: #ffbb2a;
}

/**********BODY*****/

body {
    background-color: #f2f2f2;
    color: #363636;
    overflow-x: hidden;
}

/**********NAVIGATION**********/

nav {
    width: 100%;
    margin: 1.9em 0;
}

nav ul {
    display: block;
    text-align: center;

}

nav ul li {
    display: inline;
    margin: 0.9em;
    font-family: 'Museo500-Regular', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #484848;
}

/********* SPLASH PAGE *********/
#splash{
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
}

#splash_circle{
    top: -10vmax;
    left: -10vmax;
    width: 50vmax;
    height: 50vmax;
    z-index: -1;
}

#splash_triangle{
    width: 65vmax;
    bottom: 10vmax;
    right: -20vmax;
    transform-origin: center center;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    z-index: -1;
}

.splash_text{
    font-size: 13vmax;
    display: inline-block;
    margin: auto;
}
#then, #next{
    color: #fff;
}
#now{
    color: #5f7dbf;
}

/******** SHAPES ********/

.shapeholder {
    position: relative;
    float: left;
    width: 100%;
    z-index: -1;
}

.shape {
    position: absolute;
    
    /*  Fixes jagged edges in firefox  */
    box-shadow: 0 0 1px transparent;
}

.rotate-right {
    -webkit-animation: rotateRight 240s linear infinite;
    -o-animation: rotateRight 240s linear infinite;
    animation: rotateRight 240s linear infinite;
}

.rotate-left {
    -webkit-animation: rotateLeft 240s linear infinite;
    -o-animation: rotateLeft 240s linear infinite;
    animation: rotateLeft 240s linear infinite;
}

.triangle {
    -webkit-transform-origin: 50% 66.66%;
    -moz-transform-origin: 50% 66.66%;
    -ms-transform-origin: 50% 66.66%;
    -o-transform-origin: 50% 66.66%;
    transform-origin: 50% 66.66%;
}

#triangle2 {
    left: 84%;
    width: 30em;
    top: 6em;
}

.square {
    width: 40em;
    height: 40em;
}

.circle {
    border-radius: 50%;
    width: 35em;
    height: 35em;
}

#triangle1 {
    right: 100%;
    width: 20em;
    top: -7em;
}

#square1 {
    left: 100%;
}

/*
#square1holder {
    left: 20%;
    transition: all 1s ease;
}

#square1holder.animate {
    left: 0%;
}
*/

#circle1 {
    right: 60%;
    top: -6em;
}

#square2 {
    left: 80%;
}

#square3 {
    right: 85%;
    top: 12em;
    width: 30em;
    height: 30em;
}

#square4 {
    right: 76%;
    top: -10em;
    width: 50em;
    height: 50em;
}

#circle2 {
    left: 70%;
    top: -5em;
}

#circle3 {
    left: 70%;
    top: -13em;
    width: 30em;
    height: 30em;
}

@keyframes rotateRight {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotateLeft {
    from {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/******* ANIMATION ******/
.animate{
    transition: all .7s ease-in-out;
    -webkit-transform: translateX(0em);
    -ms-transform: translateX(0em);
    -o-transform: translateX(0em);
    transform: translateX(0em);
    opacity: 1;
}
.out{
    opacity: 0;
}
.from_right.out{
    -webkit-transform: translateX(3em);
    -ms-transform: translateX(3em);
    -o-transform: translateX(3em);
    transform: translateX(3em);
}
.from_left.out{
    -webkit-transform: translateX(-3em);
    -ms-transform: translateX(-3em);
    -o-transform: translateX(-3em);
    transform: translateX(-3em);
}
.shape.out{
    right: 100% !important;
}

/**********FOOTER**********/

.footer {
    background-color: #383838;
    padding: 3em;
}

.footer p {
    color: white;
    text-align: right;
    margin-bottom: 0;
}
