/**********COLOURS*************/

.orange {
    color: #f5774f;
}

.turquoise {
    color: #00a99d;
}

.purple {
    color: #5f7dbf;
}

.yellow {
    color: #ffbb2a;
}

.orangebg {
    background-color: #f5774f;
}

.turquoisebg {
    background-color: #00a99d;
}

.purplebg {
    background-color: #5f7dbf;
}

.yellowbg {
    background-color: #ffbb2a;
}
.greybg{
    background-color: #ebebeb;
}

/**********TYPOGRAPHY**********/

@font-face {
    font-family: 'Museo500-Regular';
    src: url('../assets/font/Museo500-Regular-webfont.woff2') format('woff2'),
    url('../assets/font/Museo500-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo300-Regular';
    src: url('../assets/font/Museo300-Regular-webfont.woff2') format('woff2'),
    url('../assets/font/Museo300-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.center {
    text-align: center;
}

/*(Faux-Bold)*/
h1 {
    font-family: 'Museo500-Regular', sans-serif;
    font-weight: bold;
}

h1.big-title {
    font-family: 'Museo500-Regular', sans-serif;
    font-size: 5em;
}

h2 {
    font-family: 'Museo300-Regular', sans-serif;
    font-weight: 300;
}

h4 {
    font-family: 'Museo300-Regular', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.button-text {
    font-family: 'Museo500-Regular', sans-serif;
    margin-top: 3em;
    font-size: 2em;
}

p {
    font-family: 'Museo300-Regular', sans-serif;
    font-weight: 300;
    line-height: 1.4em;
    font-size: .9em;
    color: #363636;
}

/**********BODY*****/
body{
    background-color: #f2f2f2;
}

/**********NAVIGATION**********/

nav {
    width: 100%;
    margin: 1.9em 0;
}

nav ul {
    display: block;
    text-align: center;

}

nav ul li {
    display: inline;
    margin: 0.9em;
    font-family: 'Museo500-Regular', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color: #484848;
}

/******** SHAPES ********/

.shapeholder{
    position: relative;
    float: left;
    width: 100%;
    z-index: -1;
}
.shape{
    position: absolute;
}

#square1{
    width: 30vw;
    height: 30vw;
    left: 100%;
}

/**********FOOTER**********/

.footer {
    background-color: #383838;
    padding: 3em;
}

.footer p {
    color: white;
    text-align: right;
    margin-bottom: 0;
}
